@model IEnumerable<QLSV.Models.Quanlydiem>
@using X.PagedList;
@using X.PagedList.Mvc.Core;

@{
    ViewData["Title"] = "Index";
}
<form class="w3-container w3-card-4 w3-light-white  ">
<h1 class="w3-center w3-text-black">Danh Sách Điểm </h1>

<p>
    <a class="w3-btn w3-green w3-border w3-round" asp-action="Create">+ Thêm mới</a>
    <a class="btn btn-success" asp-action="Download">Download</a>
</p>
<table class="w3-table w3-hoverable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Masv)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenSV)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Monhoc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiemMH)
            </th>
            <th>Thao tác</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Masv.MaSV)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenSV)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Monhoc.Mamonhoc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiemMH)
            </td>
            <td>
                <a class=" w3-btn w3-margin-bottom w3-xlarge fa fa-edit w3-blue w3-border w3-round " asp-action="Edit" asp-route-id="@item.Sothutu"></a> 
                <a class="w3-btn w3-margin-bottom w3-xlarge fa fa-info-circle w3-blue w3-border w3-round " asp-action="Details" asp-route-id="@item.Sothutu"></a> 
                <a class="w3-btn w3-margin-bottom w3-xlarge fa fa-trash w3-blue w3-border w3-round " asp-action="Delete" asp-route-id="@item.Sothutu"></a>
            </td>
        </tr>  
}
    </tbody>
</table>

</form>
@using (Html.BeginForm("Index", "Quanlydiem", FormMethod.Get, new { id = "form1"}))
{
    <div class="row">
    <div class="col-md-11">
    
        @Html.PagedListPager((IPagedList) Model, page => Url.Action("Index", new {page = page,
        pageSize = ViewBag.psize}),
        new X.PagedList.Web.Common.PagedListRenderOptions { LiElementClasses = new string[] {"page-item"},
        PageClasses = new string[] {"page-link"}})
    </div>
    <div class="col-md-1">
        @Html.DropDownList("pageSize",null,new {@class="form-select"})

    </div>
    </div>
}
<script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
<script>
    $(document).ready(function() {
        $("#pageSize").change(function () {
            $("#form1").submit();
        });
    });
</script>
