@model QLSV.Models.SinhVien

@{
    ViewData["Title"] = "Details";
}
<form class="w3-container w3-card-4 w3-light-grey w3-margin" style="width:50%;" >
<h1>Thông tin chi tiết</h1>

<div class="w3-margin-top">
    
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hovaten)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hovaten)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiaChi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiaChi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lop)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lop.Malop)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Khoa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Khoa.Makhoa)
        </dd>
    </dl>
</div>
<div class="w3-margin-bottom">
    <a class=" btn btn-primary " asp-action="Edit" asp-route-id="@Model?.MaSV">Edit</a> 
    <a class="btn btn-success" asp-action="Index">Back to List</a>
</div>
</form>
